@charset "UTF-8";
/* Regra @charset caso haja problemas com acentuação */


body {
    background-color: brown;
}

h1 {
    background-color: antiquewhite;
}

p {
    background-color: bisque;
}
p {
    text-align: justify;
}